{% extends 'base.html.twig' %}

{% block title %}Edit Projeto{% endblock %}

{% block body %}
    <h1>Edit Projeto</h1>

    {{ include('projeto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('projeto_index') }}">back to list</a>

    {{ include('projeto/_delete_form.html.twig') }}
{% endblock %}
